* {
  margin: 0;
  padding: 0;
}
:root {
  --white-text-color: #fff;
  --secondary-color: #17c2ec;
  --dark-text-color: rgba(255, 255, 255, 0.7);
}
.container {
  background: url("./assets/background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  padding: 7.5rem 4.38rem 3.94rem 4.44rem;
}
@media only screen and (max-width: 440px) {
  .container {
    padding: 7rem 0 2rem 2.19rem;
  }
}
